@import "bootstrap-sprockets";
@import "bootstrap";

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
body {
	font-family: 'Titillium Web', sans-serif;
	padding:0;
	margin:0;
	background-color:#6ED9FF;
	width:100%;
}
.debugger {
	border:1px solid red;
}
div.page-container {
	height:100%;
	width:100%;
	padding:1%;
	margin:0 auto;
}
div.body-container {
	height:100%;
	width:100%;
	backgroun-color:white;

}
div.header-container {
	display:table;
	margin:0 auto;
	text-align:center;
	height:100px;
	width:100%;
	background-color:#FF5E45;
}
div.header {
	display:table-cell;
	vertical-align:middle;
	margin:0 auto;
	text-align:center;
	color:white;
}
div.footer-container{
	background-color:white;
	color:white;
	height:200px;
	width:100%;
	display:table;
	margin: 0 auto;
	text-align:center;
}
div.footer {
	color:black;
	margin: 0 auto;
	text-align:center;
	display:table-cell;
	vertical-align:middle;
}

div.body-container {
	margin-top:3%;
	width:100%;
	padding:0;
	margin:0;
}


div.btns-container {
	margin-bottom:2%;
	text-align:center;
	margin:0 auto;
}
div.container-fluid{
	margin-bottom:20px;
}
div.btn, div.btn-default{
	margin-left:20px;
}



div.pokedex-container {
	background-color:#6ED9FF;
	height:100%;
	width:100%;
	float:left;
	padding-bottom:10%;
	min-height:100vh;
}
div.pokemon-container{
	background-color:white;
	padding-left:1%;
	padding-bottom:15px;
	text-align:center;
	border:3px solid #ACACAC;
	border-radius:25px;
	box-shadow:10px 10px 10px #656565;
	height:15%;
	width:100%;
	margin-bottom:2%;
	float:left;
}
div.poke-image {
	float:left;
	margin-right:10px;
}

div.poke-image img{
	height:100px;
	width:100px;
}
div.poke-name {
	font-family: 'Bangers', cursive;
}
p.poke-description{
	text-align:left;
	font-size:15px;
	padding-left:18px;
	padding:2%;
}
div.remove-poke-container {
	width:100%;
	text-align:center;
	float:right;
	height:15px;
}
div.remove-poke {
	text-align:center;

}
div.display-more{
	width:100%;
	float:left;
	margin:0 auto;
	text-align:center;
}

div.search-error {
	width:100%;
	margin:0 auto;
	color:red;
	font-size:20px;
	text-align:center;
}
